{% if site.env == 'prod' and site.show_google_ads_feed == true %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5036910301295841"
        crossorigin="anonymous"></script>
{% endif %}
<div>
    {% for post in site.posts %}
    <div class="excerpt-wrap">{% if site.env == 'prod' and site.show_google_ads_feed == true %}
        <a class="excerpt" href="{{ post.url }}"><span class="excerpt-title">{{ post.title }}</span></a>
        <div class="post-date">Post Date: {{ post.date | date_to_string }}</div>
        <div class="excerpt">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
        </div>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-fb+5w+4e-db+86"
             data-ad-client="ca-pub-5036910301295841"
             data-ad-slot="4673887346"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% else %}
        <a class="post-link" href="{{ post.url }}"><span>{% if post.draft %}DRAFT // {% endif %}{{ post.title }}</span></a>
        <div class="post-date">Post Date: {{ post.date | date_to_string }}</div>
        <div class="excerpt">
        {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
        </div>
    {% endif %}</div>
    {% endfor %}
</div>

