{% assign relatedTitle = '' | split: ',' %}
{% assign related = '' | split: ',' %}
{% assign mergedTags = page.categories | concat: page.tags | uniq %}

{% comment %}
<p>page.categories: {{ page.categories | inspect }}</p>
<p>page.tags: {{ page.tags | inspect }}</p>
<p>unique page tags: {{ mergedTags | inspect }}</p>
{% endcomment %}

{% for tag in mergedTags %}
{% for post in site.posts %}

    {% comment %} ##### Merge Categories and Tags in a Posting ##### {% endcomment %}
    {% assign postTags = post.categories | concat: post.tags | uniq %}
    {% if post.title != page.title and postTags contains tag %}
        {% unless relatedTitle contains post.title %}
            {% assign relatedTitle = relatedTitle | push: post.title %}
            {% assign related = related | push: post %}
        {% endunless %}
    {% endif %}

{% endfor %}
{% endfor %}

{% unless relatedTitle.size <= 0 %}

<!-- Begin noindex -->
<div class="noindex">
<div class="share-spb">&nbsp;</div>
{% include separator.html %}
<h2 style="margin-top: 50px; margin-bottom: 20px;">Related Articles</h2>
<div>
    {% for post in related %}
    <div>
        <a href="{{ post.url }}"><span class="excerpt_title">{{ post.title }}</span></a>
        <span style="float: right; font-size: smaller;">Post Date: {{ post.date | date_to_string }}</span><br/>
        <div class="excerpt">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
            <a href="{{ post.url }}"></a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!-- End noindex -->
{% endunless %}
