<!-- Begin noindex -->
<div class="noindex">
<div class="share-spb">&nbsp;</div>
{% include separator.html %}
<h4 style="margin-top: 50px;">Related Articles:</h4>

<div>
    {% for post in site.posts %}
    {% if post.related and post.related.size > 0 and page.related == post.related %}
    {% unless page.title == post.title  %}
    <div>
            {% unless post.draft == true %}
            <a href="{{ post.url }}"><span class="excerpt_title">{{ post.title }}</span></a>
            <span style="float: right; font-size: smaller;">Post Date: {{ post.date | date_to_string }}</span><br/>
            <div class="excerpt">
                {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
                <a href="{{ post.url }}"></a>
            </div>
            {% else %}
            {% if site.env == 'dev' %}
            <a href="{{ post.url }}"><span class="excerpt_title">{% if post.draft %}DRAFT // {% endif %}{{ post.title }}</span></a>
            <span style="float: right; font-size: smaller;">Post Date: {{ post.date | date_to_string }}</span><br/>
            <div class="excerpt">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
            <a href="{{ post.url }}"></a>
            </div>
            {% endif %}
            {% endunless %}
    </div>
    {% endunless %} {% endif %} {% endfor %}
</div>
</div>
<!-- End noindex -->
