{% assign verbose = false %}

{% assign relatedTitle = '' | split: ',' %}
{% assign related = '' | split: ',' %}
{% assign pageCat = page.categories | default: [] %}
{% assign pageTags = page.tags | default: [] %}

{% assign maxCount = site.related.max-count | default: 5 %}

{% assign mergedTags = '' | split: ',' %}
{% unless page.categories == null %} {% assign mergedTags = mergedTags | concat: page.categories uniq %} {% endunless %}
{% unless page.categories == null %} {% assign mergedTags = mergedTags | concat: page.tags uniq %} {% endunless %}

{% assign exitLoop = false %}
{% for tag in mergedTags %}
{% for post in site.posts %}
    {% comment %} ##### Merge Categories and Tags in a Posting ##### {% endcomment %}
    {% assign postTags = post.categories | concat: post.tags | uniq %}
    {% if post.title != page.title and postTags contains tag %}
        {% unless relatedTitle contains post.title %}
            {% assign relatedTitle = relatedTitle | push: post.title %}
            {% assign related = related | push: post %}
            {% if relatedTitle.size > maxCount %}
            {% assign exitLoop = true %}
            {% endif %}
        {% endunless %}
    {% endif %}{% if exitLoop %}{% break %}{% endif %}
{% endfor %}
{% endfor %}

{% if verbose %}
<h4>Verbose Mode:</h4>
<p><ul class="verbose-debug">
    <li>page categories: {{ page.categories | inspect }}</li>
    <li>page tags      : {{ page.tags | inspect }}</li>
    <li>merged tags    : {{ mergedTags | inspect }}</li>
    <li>exitLoop       : {{ relatedTitle.size | minus: 1 }}</li>
</ul></p>
{% endif %}


{% unless relatedTitle.size <= 0 %}

<!-- Begin noindex -->
<div class="noindex">
<div class="share-spb">&nbsp;</div>
{% include separator.html %}
<h2 class="related-header">Related Articles</h2>
<div>
    {% for post in related limit:maxCount %}
    <div class="excerpt-wrap">
        <a class="post-link" href="{{ post.url }}"><span>{{ post.title }}</span></a>
        <div class="post-date">Post Date: {{ post.date | date_to_string }}</div>
        <div class="excerpt">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
            <a href="{{ post.url }}"></a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!-- End noindex -->
{% endunless %}
