<!-- Begin noindex -->
<div class="noindex">
<div class="share-spb">&nbsp;</div>
{% include separator.html %}
<h2 class="related-header">Related Articles</h2>

<div class="excerpt-wrap">
    {% for post in site.posts %}
    {% if post.related and post.related.size > 0 and page.related == post.related %}
    {% unless page.title == post.title  %}
    <div>
        <a class="post-link" href="{{ post.url }}"><span>{{ post.title }}</span></a>
        <div class="post-date">Post Date: {{ post.date | date_to_string }}</div>
        <div class="excerpt">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove_first: '1.' | remove_first: 'Overview' | strip_html }}
            <a href="{{ post.url }}"></a>
        </div>
    </div>
    {% endunless %} {% endif %} {% endfor %}
</div>
</div>
<!-- End noindex -->
