{% comment %}{% capture randomNumber %}{{ 'now' | date: "%09N" }}{% endcapture %}
            <div id="fb-root-{{ randomNumber }}"></div>

            {% if isArticlePage %}<div class="share-note">If you like this article, please like and share it with your friends and colleagues.</div>{% endif %}
            <div class="share" style="visibility: hidden;">
                <div class="fb-share-button-wrap">
                    <div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php" class="fb-xfbml-parse-ignore">Share</a></div>
                </div>
                <div class="tw-share-button-wrap">
                    <span class="tw-share-button"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true">Tweet</a></span>
                </div>
            </div>
            <div class="clear-spacer"></div>
            <script>
                if (typeof canonHref === 'undefined') {
                    canonHref = $("link[rel='canonical']").attr("href");
                }
                $('.fb-share-button').data('href', canonHref).attr('data-href', canonHref);
            </script>
{% endcomment %}
