---
---

@import "{{ site.theme }}";

section {
  margin-top: 150px;
}

.figure {
  margin-bottom: .5em;
  .title {
    font-weight: bold;
    margin-right: .5em;
  }
}

h1 {
  font-size:24px;
}

h1.title {
  font-size:28px;
  color: #3399cc;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.share-placeholder {
  height: 29px;
}

div.share-spt {
  margin-top: 30px;
}

div.share-spb {
  margin-bottom: 100px;
}

div.share-note {
  margin-bottom: 5px;
  font-family: 'Merriweather', 'SansSerif';
  font-size: 0.7em;
  font-weight: 400;
}
div.share {
  margin-bottom: 20px;

  .fb-share-button-wrap {
    float: left;
    margin-right: 5px;
    .fb-share-button {
      vertical-align: top !important;
      zoom: 1;
      *display: inline;
    }
  }

  .tw-share-button-wrap {
    float: left;
    height: 20px !important;

    .tw-share-button {
      zoom: 1;
      *display: inline;
    }
  }
}
.clear-spacer {
  clear: both;
  margin-top: 50px;
}

hr.separator {
  max-width: 100px;
  margin: auto auto 20px auto;
}

nav {
  ul {
    li {
      &.tag-h1 {
        font-size: 1.0em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.tag-h2 {
        font-size: 0.9em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.tag-h3 {
        font-size: 0.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        a {
          color: #66819d;
        }
      }
    }
  }
}

@media print, screen {
  h1 {
    padding: 0px 0px;
  }
  .excerpt_title {
    font-size: large;
    font-family: $header-font-family;
    font-weight: 500;
  }
}



@media print, screen and (max-width: 720px) {

  h1 {
    font-size: 1.6rem;
  }
  h1.title, .excerpt_title {
    font-size: 1.8rem;
  }
  code {
    font-size: 0.8rem;
  }
  section {
    margin: 130px 5px 10px 5px;
  }
  header {
    p { display: block;}
  }
}

@media print, screen and (max-width: 680px) {

  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h1.title, .excerpt_title {
    font-size: 1.5rem;
  }
  code {
    font-size: 0.7rem;
  }

  section,section.index-page {
    margin: 120px auto;
  }

  header {
    p {
      display: block;
      font-size: 16px;
    }
  }

}

@media print, screen and (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1rem;
  }
  h1.title, .excerpt_title {
    font-size: 1rem;
  }
  code {
    font-size: 0.7rem;
  }

  section {
    margin: 5px;
  }

  header {
    p {
      display: block;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }
}
