---
---

@import "{{ site.theme }}";

section {
  margin-top: 150px;
}

h1 {
  font-size:24px;
}

h1.title {
  font-size:28px;
  color: #3399cc;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

div.share {
  margin-bottom: 20px;

  .share-button-box {
    float: left;
    margin-top: 2px !important;
  }

  .share-button {
    margin: 0;
    margin-right: 2px;
  }

  .fb-share-button {
    vertical-align: top !important;
    zoom: 1;
    *display: inline;
  }
}

hr.separator {
  max-width: 100px;
  margin: auto auto 20px auto;
}

nav {
  ul {
    li {
      &.tag-h1 {
        font-size: 1.0em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.tag-h2 {
        font-size: 0.9em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.tag-h3 {
        font-size: 0.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        a {
          color: #66819d;
        }
      }
    }
  }
}