---
---

@import "{{ site.theme }}";
@import "site-defs";

// ==============================================================
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Roboto+Slab:wght@100;300;400;500;700;900
// Playfair:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900
// Playfair+Display:ital,wght@0,400..900;1,400..900
// Merriweather:ital,wght@0,400;0,700;1,300
// Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;
// ==============================================================
$header-color-default : #333;
$body-line-height     : 1.55;
$body-font-size       : 1.15rem;

$code-font-size       : 1rem;
$code-bg              : #333;
$code-padding         : 10px;

$site-name-font-size : 3.5rem;

$h1-font-size        : 2.9rem;
$h2-font-size        : 1.8rem;
$h3-font-size        : 1.5rem;
$h4-font-size        : 1.4rem;
$h5-font-size        : 1.3rem;
$h6-font-size        : 1.1rem;

$h-tag-font          : $font-roboto-slab;

// ==============================================================

// title is the only h1 in articles
$body-font   : (font: $font-noto-serif, weight: 400, size: $body-font-size, color: #242424,
    line-height: $body-line-height, debug: false, debug-label: "body");
$italic-font : (font: $font-noto-serif, weight: 400, size: $body-font-size, color: #343434,
    style: italic, line-height: $body-line-height, debug: false, debug-label: "em");
$h1: (font: $font-roboto, weight: 900, size: $h1-font-size, color: #393939,
         line-height: 1.1, debug: false, debug-label: "h1");
$h2: (font: $font-tahoma, weight: 700, size: $h2-font-size, color: #212121,
         line-height: 1.1, debug: false, debug-label: "h2");
$h3: (font: $font-roboto, weight: 700, size: $h3-font-size, color: #3c5780,
         line-height: 1.1, debug: false, debug-label: "h3");
$h4: (font: $font-roboto-slab, weight: 700, size: $h4-font-size, color: #414141,
         line-height: 1.1, debug: false, debug-label: "h4");
$h5: (font: $font-noto-serif, weight: 700, size: $h5-font-size, color: #3c5780,
         line-height: 1.1, debug: false, debug-label: "h5");
$h6: (font: $font-roboto-slab, weight: 700, size: $h6-font-size, color: #414141,
         line-height: 1.1, debug: false, debug-label: "h6");
%h1-title {
  color       : #3399cc; margin-bottom : 10px;
  white-space : normal; overflow : unset;
}
%headers {margin : 0 0 10px 0; }

// ==============================================================

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

body {
  @include x-font($body-font);
  margin     : 0;
  padding    : 0 0 20px 0;
  letter-spacing: normal;
  background : url(../images/body-background.png) #000;
}
@include body-font-size();

h1 {
  @include x-font($h1);
  // use "title" by default from now on
  &.title {@extend %h1-title;}
  &.titlew {@extend %h1-title;}
  &.title2 {@extend %h1-title;}
  &.title2w {@extend %h1-title;}
  &.title3 {@extend %h1-title;}
  &.title3w {@extend %h1-title;}
  //text-shadow: 1px 1px 1px #235796;
  text-shadow: 1px 1px 1px #565656;
}
h2 {@include x-font($h2); @extend %headers; }
h3 {@include x-font($h3); @extend %headers; }
h4 {@include x-font($h4); @extend %headers; }
h5 {@include x-font($h5); @extend %headers; }
h6 {@include x-font($h6); @extend %headers; }

// ==============================================================

.noindex { display: none; }
#recent-posts { margin-bottom: 30px; }
.related-header { margin-top: 50px; margin-bottom: 20px; }

/**
 * This class is used when scrolling top/bottom to hide header accordingly.
 * Uses: header "transition: opacity 0.5s ease, transform 0.5s ease;"
 */
.hidden {
  //display: none;
  opacity: 0;
  transform: translateY(-100%); /* Move the div up */
}

div { .top-tag {margin-bottom: 10px;} }
p { line-height: $body-line-height; }

footer {
  p {
    @include arial-narrow();
    line-height: 1.0;
    padding: 0; margin: 0;
  }
}

.image, .illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
    margin: 20px auto 30px;
  }
}

.highlight table {
  $lineNumberMode-Padding: 5px 0 5px 5px !important;
  td pre.lineno {padding: $lineNumberMode-Padding;}
  td.code pre {padding: $lineNumberMode-Padding;}
}

.figure {
  margin-bottom: .5em;
  .title {
    font-weight: bold;
    margin-right: .5em;
  }
}

div.getty-image {text-align: center !important;margin-bottom: 1em;}
div.uml-diagram {
  margin-bottom: 20px;
  img {
    display: block;
  }
  small {
    display: block;
    padding-left: 8px;
  }
}

div.link {
  margin-bottom: 20px;
  small {
    display: block;
    padding-left: 0;
  }
}

.share-placeholder {height: 29px;}
div.share-spt {margin-top: 30px;}
div.share-spb {margin-bottom: 50px;}

div.share-note {
  margin-bottom: 5px;
  font-size: 0.7em;
  @include merriweather(400);
}
div.share {
  margin-bottom: 20px;

  .fb-share-button-wrap {
    float: left;
    margin-right: 5px;
    .fb-share-button {
      vertical-align: top !important;
      zoom: 1;
      *display: inline;
    }
  }

  .tw-share-button-wrap {
    float: left;
    height: 20px !important;

    .tw-share-button {
      zoom: 1;
      *display: inline;
    }
  }
}

%spacer-common { clear: both; margin: 0; padding: 0; font-size: 0; }
.spacer-50 { @extend %spacer-common; height: 50px; }
.spacer-30 { @extend %spacer-common; height: 30px; }
.spacer-20 { @extend %spacer-common; height: 20px; }
.spacer-10 { @extend %spacer-common; height: 10px; }


hr.separator {
  max-width: 100px;
  margin: auto auto 20px auto;
}

code { background: $code-bg; letter-spacing: -0.04em; }
pre { background: $code-bg; }

// ==============================================================

header {
  transition : opacity 0.5s ease, transform 0.5s ease;
  height     : 130px;
  margin     : 0; padding : 5px 0 0 0;
  p {display : block;}
  .tag-line {
    font-family : "Tahoma";
    font-size   : 0.9rem; width : 60%;
    color       : #f3f3f3;
    margin      : 5px auto;
  }
  .logo-wrap {
    .inner-wrap {
      margin   : 0; padding : 0;
      position : absolute;
      left     : 40px; top : 10px;
      float    : left;
      img.logo {width : 120px;}
    }
  }
  .site-name {
    font-size         : $site-name-font-size;
    line-height       : 1.2;
    font-family       : "Copse", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color             : #f3f3f3;
    text-shadow       : 0 2px 0 #235796;
    margin            : 0;
    white-space       : nowrap;
    overflow          : hidden;
    -o-text-overflow  : ellipsis;
    -ms-text-overflow : ellipsis;
    text-overflow     : ellipsis;
  }

}

div.wrapper {

  section {
    width:670px;
    margin: 135px auto; padding : 20px 20px;

    p { text-align: justify; letter-spacing: -0.0358em; }
    p.left-aligned {  text-align: left; }

    // Front-Matter Usage:  section_style: left-aligned
    &.left-aligned { p { text-align: left; } }

    ul li {
      margin-bottom: .5em;
      ul, ol { margin-top: .5em }
      ul li, ol li { margin-bottom: .5em; }
    }
    ol li {
      margin-bottom: .5em;
      ul, ol {margin-top: .5em}
      ul li, ol li { margin-bottom: .5em; }
    }

    ul.verbose-debug {
      margin-left: 50px;
      li { margin: 0; padding: 0; }
    }

    .post-dates-wrap {
      .post-date { font-size : 0.9rem; }
      .left { float : left; }
      .right { float : right; }
    }

    div.highlight > pre {
      &.highlight {
        background: $code-bg;
        padding-bottom : $code-padding;
        line-height: 1.1;
        //font-weight: 700;
      }
      & > code {
        padding-bottom : $code-bg;
        font-size: $code-font-size;
      }
    }

    //div.highlight {
    //  pre.highlight, pre.highlight > code {
    //      //background: #282828;
    //      background: #333;
    //      padding-bottom : 10px;
    //  }
    //  pre.highlight {
    //    line-height: 1.1;
    //  }
    //}

    a {
      color                     : #242424;
      text-decoration           : underline;
      text-decoration-thickness : 2px;
      text-decoration-color     : #224670;
    }

    div.excerpt-wrap {
      .post-title {
        color           : #3399cc !important;
        text-decoration : none;
      }
      a {
        &.post-link {
          text-decoration : none;
          & > span {
            $h-font        : map-get($h2, "font");
            color           : #3399cc;
            font-family     : map-get($h-font, font-family);
            font-size       : $body-font-size + 0.5rem;
            line-height     : 1.0;
            font-weight     : 700;
            text-decoration : none;
          }
        }
      }
      .post-date { text-align : right;font-size  : 1.0rem; }
      .excerpt { line-height : $body-line-height;padding: 5px 0 50px 0; }
    }
  }

  p {
    em {@include x-font($italic-font);}
    strong {
      font-weight: bold;
      em { font-weight: bold; }
    }
  }

}

nav {
  ul {
    li {
      &.active {
        border-right  : groove 4px rgba(30, 87, 112, 0.24);
        padding-right : 5px;
        border-radius : 3px;
        a {font-weight: 900;}
      }
      $tag-h-font: map-get($h-tag-font, "font-family");
      &.tag-h1 {
        // not used: see main.js
        font-family   : $tag-h-font;
        font-size     : 0.9rem;
        text-overflow : ellipsis;
        white-space   : nowrap;
        overflow      : hidden;
      }
      &.tag-h2 {
        font-family: $tag-h-font;
        font-size: 0.9rem;
        padding-bottom: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.3;
      }
      &.tag-h3 {
        padding-left: 10px;
        font-family: $tag-h-font;
        line-height: 1.0;
        font-size: 0.7rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        a {color: rgba(91, 71, 6, 0.73);}
      }
    }
  }
}

// ==============================================================
// Media Customizations
// ==============================================================

@media print, screen and (max-width: 1060px) {
  header {
    height : 120px;
    .site-name {font-size : $site-name-font-size - 0.5rem;}
    .logo-wrap { .inner-wrap {top : 0;} }
  }
  div.wrapper {
    section {
      width: auto;
      margin : 125px auto;
      @include h1-size(-0.5rem);
    }
  }

}

/**
 * Tablets: 768px to 1023px
 * section settings: affects the top-padding of the title
 */
@media print, screen and (max-width: 720px) {
  @include header-sizes(-0.1rem);
  header {
    $tag-line-fs: 0.8rem;
    position: fixed; height: 120px;
    .tag-line {font-size: $tag-line-fs; width: 55%; margin: 10px auto;}
  }
  div.wrapper {
    p { line-height : $body-line-height - 0.1; }
    section {
      margin : 125px auto;
    }
  }
}

/**
 * Larger Mobile Devices: 481px to 767px
 * section settings: affects the top-padding of the title
 */
@media print, screen and (max-width: 680px) {
  header {
    .site-name {
      margin-top: 9px;
      font-size : $site-name-font-size - 0.9rem;
    }
    .logo-wrap {
      .inner-wrap {
        left: 30px; top: 16px;
        img.logo { width : 90px; }
      }
    }
    .tag-line {font-size: 0.8rem; width: 60%; margin: 2px auto;}

  }
  div.wrapper {
    section {
      margin : 125px auto;
      @include code-font-size(-0.1rem);
    }
  }
}

/**
 * Ideal for viewports : 320px to 480px
 *
 * Common Viewports
 * Ipad Pro            : 430px x 932px
 * Samsung S20 Ultra   : 412px x 915px
 * iPhone 12 Pro       : 390px x 844px

 * section settings: affects the top-padding of the title
 */
@media print, screen and (max-width: 480px) {
  @include header-sizes(-0.2rem);
  header {
    height   : 100px;

    .site-name { font-size : 1.8rem; margin-top: 5px; }
    .tag-line { font-size : 0.6rem; width : 55%; margin : 5px auto; }
    .logo-wrap {
      .inner-wrap {
        left: 30px; top: 7px;
        img.logo { width : 90px; }
      }
    }
  }

  div.wrapper {
    section {
      margin : 105px auto;
      @include h1-size(-1.0rem);
      @include code-font-size(0.1rem);

      div.excerpt-wrap {
        a.post-link { & > span { font-size : $h2-font-size; } }
        div.post-date { font-size : 0.9rem; }
        div.excerpt { line-height : $body-line-height - 0.1; }
      }
    }
  }

}

/**
 * Samsung S7 : 412px x 670px
 */
@media print, screen and (max-width: 412px) {
  header {
    .site-name { font-size : 1.4rem; margin-top: 7px; }
    .tag-line { font-size : 0.6rem; width : 55%; margin : 5px auto; }
    .logo-wrap {
      .inner-wrap {
        left: 15px; top: 12px;
        img.logo { width : 80px; }
      }
    }
  }
  div.wrapper {
    p { line-height : $body-line-height - 0.2; }
    section {
      @include code-font-size(-0.02rem);
      div.excerpt-wrap {
        a.post-link { & > span { font-size : $h4-font-size; } }
        div.post-date { font-size : 0.7rem; }
        div.excerpt { line-height : $body-line-height - 0.2; }
      }
    }
  }

}

/**
 * Viewports:
 * - iPhone 7 : 375px x 561px
 */
@media print, screen and (max-width: 375px) {
  header {
    .site-name { font-size : 1.4rem; margin-top: 7px; }
    .tag-line { font-size : 0.6rem; width : 55%; margin : 5px auto; }
    .logo-wrap {
      .inner-wrap {
        left: 15px; top: 17px;
        img.logo { width : 70px; }
      }
    }
  }
  div.wrapper {
    $post-date-fs: 0.75rem;
    section {
      .post-dates-wrap { .post-date { font-size : $post-date-fs; } }
    }
  }
}

/**
 * Viewports:
 * Ipad Pro          : 430px x 932px
 * Samsung S20 Ultra : 412px x 915px
 * iPhone 12 Pro     : 390px x 844px
 * Samsung S8        : 360px x 740px
 */
//@media print, screen and (max-width: 360px) {
//}

/**
 * Galaxy Fold : 280px x 653px
 */
@media print, screen and (max-width: 280px) {
  @include header-sizes(-0.6rem);
  header { .logo-wrap { .inner-wrap {display: none;} } }
  @include body-font-size(-0.1rem);
  div.wrapper {
    #recent-posts { font-size : $h2-font-size; }
    $post-date-fs: 0.7rem;
    section {
      @include h1-size(-1.5rem);
      .post-dates-wrap {
        .post-date { font-size : $post-date-fs; }
        .right { float : left; }
      }
    }
  }
}
